<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    {%for car in cars%}
        <p>{{car.name}}, Цена - {{car.price}} P., Наценка производителя - {{car.manufacturer_margin}}%</p>
        <table>
            <tr>
                <td>Деталь</td>
                <td>Тип</td>
                <td>Цена</td>
                <td>Количество</td>
                <td>Характеристики</td>
            </tr>
            {%for car_detail in car.get_details%}
            <tr>
                <td>{{car_detail.detail.name}}</td>
                <td>{{car_detail.detail.type}}</td>
                <td>{{car_detail.detail.price}}</td>
                <td>{{car_detail.count}}</td>
                <td>
                    {%for prop_value in car_detail.detail.get_properties_and_values%}
                    <span>{{prop_value.property.name}}: {{prop_value.value}}, </span>
                    {%endfor%}
                </td>
            </tr>
            {%endfor%}
        </table>
    {%endfor%}
</body>
</html>